Logic Apps/la-bidtravel-pnrfinisher-pnrhandlertrigger-dev.yaml
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "actions": {
                    "File_must_be_greater_than_0_bytes": {
                        "actions": {
                            "Condition": {
                                "actions": {
                                    "Get_Locator_ID": {
                                        "inputs": {
                                            "content": "@outputs('Retrieve_PNR')['headers']",
                                            "schema": {
                                                "properties": {
                                                    "Content-Length": {
                                                        "type": "string"
                                                    },
                                                    "Content-Type": {
                                                        "type": "string"
                                                    },
                                                    "Date": {
                                                        "type": "string"
                                                    },
                                                    "Locator": {
                                                        "type": "string"
                                                    },
                                                    "Request-Context": {
                                                        "type": "string"
                                                    },
                                                    "Set-Cookie": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "runAfter": {},
                                        "type": "ParseJson"
                                    },
                                    "Save_PNR": {
                                        "inputs": {
                                            "body": "@body('Retrieve_PNR')",
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/datasets/default/files",
                                            "queries": {
                                                "folderPath": "/pnrincoming",
                                                "name": "@{body('Get_Locator_ID')?['Locator']}.xml",
                                                "queryParametersSingleEncoded": true
                                            }
                                        },
                                        "runAfter": {
                                            "Get_Locator_ID": [
                                                "Succeeded"
                                            ]
                                        },
                                        "runtimeConfiguration": {
                                            "contentTransfer": {
                                                "transferMode": "Chunked"
                                            }
                                        },
                                        "type": "ApiConnection"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "Is_there_a_Locator_ID": {
                                            "actions": {
                                                "Write_Error_Output": {
                                                    "inputs": {
                                                        "body": "@body('Retrieve_PNR')",
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/datasets/default/files",
                                                        "queries": {
                                                            "folderPath": "/failures",
                                                            "name": "RetrievePNR_@{body('Try_Get_Locator_ID')?['Locator']}.xml",
                                                            "queryParametersSingleEncoded": true
                                                        }
                                                    },
                                                    "runAfter": {},
                                                    "runtimeConfiguration": {
                                                        "contentTransfer": {
                                                            "transferMode": "Chunked"
                                                        }
                                                    },
                                                    "type": "ApiConnection"
                                                }
                                            },
                                            "else": {
                                                "actions": {
                                                    "Write_File_for_No_Locator_Found": {
                                                        "inputs": {
                                                            "body": "@body('Retrieve_PNR')",
                                                            "host": {
                                                                "connection": {
                                                                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                                }
                                                            },
                                                            "method": "post",
                                                            "path": "/datasets/default/files",
                                                            "queries": {
                                                                "folderPath": "/failures",
                                                                "name": "NoLocator_@{now()}.xml",
                                                                "queryParametersSingleEncoded": true
                                                            }
                                                        },
                                                        "runAfter": {},
                                                        "runtimeConfiguration": {
                                                            "contentTransfer": {
                                                                "transferMode": "Chunked"
                                                            }
                                                        },
                                                        "type": "ApiConnection"
                                                    }
                                                }
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "greater": [
                                                            "@length(body('Try_Get_Locator_ID')?['Locator'])",
                                                            0
                                                        ]
                                                    }
                                                ]
                                            },
                                            "runAfter": {
                                                "Try_Get_Locator_ID": [
                                                    "Succeeded",
                                                    "Failed",
                                                    "Skipped",
                                                    "TimedOut"
                                                ]
                                            },
                                            "type": "If"
                                        },
                                        "Try_Get_Locator_ID": {
                                            "inputs": {
                                                "content": "@outputs('Retrieve_PNR')['headers']",
                                                "schema": {
                                                    "properties": {
                                                        "Content-Length": {
                                                            "type": "string"
                                                        },
                                                        "Content-Type": {
                                                            "type": "string"
                                                        },
                                                        "Date": {
                                                            "type": "string"
                                                        },
                                                        "Locator": {
                                                            "type": "string"
                                                        },
                                                        "Request-Context": {
                                                            "type": "string"
                                                        },
                                                        "Set-Cookie": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "runAfter": {},
                                            "type": "ParseJson"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "equals": [
                                                "@outputs('Retrieve_PNR')['statusCode']",
                                                200
                                            ]
                                        },
                                        {
                                            "not": {
                                                "equals": [
                                                    "@outputs('Retrieve_PNR')['headers']['Errors']",
                                                    true
                                                ]
                                            }
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Retrieve_PNR": [
                                        "Succeeded",
                                        "Failed",
                                        "Skipped",
                                        "TimedOut"
                                    ]
                                },
                                "type": "If"
                            },
                            "Extract_Token": {
                                "inputs": {
                                    "content": "@body('GetSabreToken')",
                                    "schema": {
                                        "properties": {
                                            "access_token": {
                                                "type": "string"
                                            },
                                            "expires_in": {
                                                "type": "integer"
                                            },
                                            "token_type": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "runAfter": {
                                    "GetSabreToken": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "ParseJson"
                            },
                            "GetSabreBaseURL": {
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['azuretables']['connectionId']"
                                        }
                                    },
                                    "method": "get",
                                    "path": "/Tables/@{encodeURIComponent('Config')}/entities(PartitionKey='@{encodeURIComponent('Settings')}',RowKey='@{encodeURIComponent('BaseURL')}')",
                                    "queries": {
                                        "$select": "Value"
                                    }
                                },
                                "runAfter": {},
                                "type": "ApiConnection"
                            },
                            "GetSabrePCC": {
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['azuretables']['connectionId']"
                                        }
                                    },
                                    "method": "get",
                                    "path": "/Tables/@{encodeURIComponent('Config')}/entities(PartitionKey='@{encodeURIComponent('Settings')}',RowKey='@{encodeURIComponent('Sabre_PCC')}')",
                                    "queries": {
                                        "$select": "Value"
                                    }
                                },
                                "runAfter": {
                                    "GetSabrePassword": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "ApiConnection"
                            },
                            "GetSabrePassword": {
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['azuretables']['connectionId']"
                                        }
                                    },
                                    "method": "get",
                                    "path": "/Tables/@{encodeURIComponent('Config')}/entities(PartitionKey='@{encodeURIComponent('Settings')}',RowKey='@{encodeURIComponent('Sabre_Password')}')",
                                    "queries": {
                                        "$select": "Value"
                                    }
                                },
                                "runAfter": {
                                    "GetSabreUsername": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "ApiConnection"
                            },
                            "GetSabreToken": {
                                "inputs": {
                                    "function": {
                                        "id": "/subscriptions/0a06704c-e754-450f-8cc6-5b7f82dca26d/resourceGroups/rg-bidtravel-pnrfinisher-dev/providers/Microsoft.Web/sites/fn-bidtravel-pnrfinisher-authentication-dev/functions/GetSabreToken"
                                    },
                                    "headers": {
                                        "SabreUserID": "@body('Parse_JSON')['UserID']",
                                        "TokenURL": "@{body('GetSabreBaseURL')['Value']}/v2/auth/token"
                                    },
                                    "method": "POST"
                                },
                                "runAfter": {
                                    "Parse_JSON": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Function"
                            },
                            "GetSabreUserID": {
                                "inputs": {
                                    "function": {
                                        "id": "/subscriptions/0a06704c-e754-450f-8cc6-5b7f82dca26d/resourceGroups/rg-bidtravel-pnrfinisher-dev/providers/Microsoft.Web/sites/fn-bidtravel-pnrfinisher-authentication-dev/functions/GetSabreUserID"
                                    },
                                    "headers": {
                                        "PCC": "@{body('GetSabrePCC')['Value']}",
                                        "Password": "@{body('GetSabrePassword')['Value']}",
                                        "Username": "@{body('GetSabreUsername')['Value']}"
                                    }
                                },
                                "runAfter": {
                                    "GetSabrePCC": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Function"
                            },
                            "GetSabreUsername": {
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['azuretables']['connectionId']"
                                        }
                                    },
                                    "method": "get",
                                    "path": "/Tables/@{encodeURIComponent('Config')}/entities(PartitionKey='@{encodeURIComponent('Settings')}',RowKey='@{encodeURIComponent('Sabre_Username')}')",
                                    "queries": {
                                        "$select": "Value"
                                    }
                                },
                                "runAfter": {
                                    "GetSabreBaseURL": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "ApiConnection"
                            },
                            "Parse_JSON": {
                                "inputs": {
                                    "content": "@body('GetSabreUserID')",
                                    "schema": {
                                        "properties": {
                                            "UserID": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "UserID"
                                        ],
                                        "type": "object"
                                    }
                                },
                                "runAfter": {
                                    "GetSabreUserID": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "ParseJson"
                            },
                            "Retrieve_PNR": {
                                "inputs": {
                                    "body": "@body('Get_XML_Content')",
                                    "function": {
                                        "id": "/subscriptions/0a06704c-e754-450f-8cc6-5b7f82dca26d/resourceGroups/rg-bidtravel-pnrfinisher-dev/providers/Microsoft.Web/sites/fn-bidtravel-pnrfinisher-pnrhandler-dev/functions/RetrievePNR"
                                    },
                                    "headers": {
                                        "Token": "@body('Extract_Token')?['access_token']"
                                    }
                                },
                                "runAfter": {
                                    "Extract_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Function"
                            }
                        },
                        "else": {
                            "actions": {
                                "Add_to_Invalid_List": {
                                    "inputs": {
                                        "body": "@body('Get_XML_Content')",
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/datasets/default/files",
                                        "queries": {
                                            "folderPath": "/invalid-pnrevents",
                                            "name": "@{items('For_each')}",
                                            "queryParametersSingleEncoded": true
                                        }
                                    },
                                    "runAfter": {},
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    },
                                    "type": "ApiConnection"
                                },
                                "Delete_blob": {
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                            }
                                        },
                                        "method": "delete",
                                        "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(items('For_each')))}"
                                    },
                                    "runAfter": {
                                        "Add_to_Invalid_List": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection"
                                }
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "greater": [
                                        "@length(body('Get_XML_Content'))",
                                        0
                                    ]
                                }
                            ]
                        },
                        "runAfter": {
                            "Get_XML_Content": [
                                "Succeeded"
                            ]
                        },
                        "type": "If"
                    },
                    "Get_XML_Content": {
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(triggerBody()?['Id']))}/content",
                            "queries": {
                                "inferContentType": true
                            }
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    }
                },
                "foreach": "@array(triggerBody())",
                "runAfter": {},
                "type": "Foreach"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_blob_is_added_or_modified_(properties_only)": {
                "evaluatedRecurrence": {
                    "frequency": "Minute",
                    "interval": 1
                },
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/datasets/default/triggers/batch/onupdatedfile",
                    "queries": {
                        "checkBothCreatedAndModifiedDateTime": false,
                        "folderId": "JTJmcG5yZXZlbnRz",
                        "maxFileCount": 10
                    }
                },
                "metadata": {
                    "JTJmcG5yZXZlbnRz": "/pnrevents"
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 1
                },
                "runtimeConfiguration": {
                    "concurrency": {
                        "runs": 5
                    }
                },
                "splitOn": "@triggerBody()",
                "type": "ApiConnection"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azureblob": {
                    "connectionId": "/subscriptions/0a06704c-e754-450f-8cc6-5b7f82dca26d/resourceGroups/rg-bidtravel-pnrfinisher-dev/providers/Microsoft.Web/connections/azureblob",
                    "connectionName": "azureblob",
                    "id": "/subscriptions/0a06704c-e754-450f-8cc6-5b7f82dca26d/providers/Microsoft.Web/locations/southafricanorth/managedApis/azureblob"
                },
                "azuretables": {
                    "connectionId": "/subscriptions/0a06704c-e754-450f-8cc6-5b7f82dca26d/resourceGroups/rg-bidtravel-pnrfinisher-dev/providers/Microsoft.Web/connections/azuretables",
                    "connectionName": "azuretables",
                    "id": "/subscriptions/0a06704c-e754-450f-8cc6-5b7f82dca26d/providers/Microsoft.Web/locations/southafricanorth/managedApis/azuretables"
                }
            }
        }
    }
}